.RPApp {
}

.RPInput.on, .RPEvent.on {
  background-color: green;
}

.RPInput.off {
  background-color: red;
}

.RPEvent.off {
  background-color: lightgray;
}

p.RPEvent-Line {
  margin-block-end: 0.1em;
}
