<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="K8047CsDemoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <K8047CsDemoApp.Properties.Settings>
            <setting name="ExitAlways" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUsMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUsInTaskbarWhenMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowUsInTaskbarWhenNormal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSystemTrayNotifyIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitWarningMessageBoxIsDisplayed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUsTotallyInvisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMouseDoubleLeftClickShowsForm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMouseDoubleRightClickShowsForm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMouseSingleRightClickDisabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyIconMouseDoubleLeftClickShowsContextMenuStrip"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMouseDoubleRightClickShowsContextMenuStrip"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMouseSingleLeftClickShowsContextMenuStrip"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyIconMouseSingleLeftClickUsesDifferentContextMenuStrip"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMouseSingleLeftClickShowsForm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyIconMouseSingleRightClickShowsForm1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Form1MouseSingleRightClickDisabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Form1MouseSingleLeftClickUsesDifferentContextMenuStrip"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Form1MouseSingleRightClickMinimizesForm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form1MouseSingleLeftClickShowsContextMenuStrip"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Form1MouseSingleLeftClickMinimizesForm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form1MouseDoubleLeftClickShowsContextMenuStrip"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form1MouseDoubleLeftClickMinimizesForm1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form1MouseDoubleRightClickShowsContextMenuStrip"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Form1MouseDoubleRightClickMinimizesForm1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartUsSingleInstanceOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitWarningBalloonTipIsDisplayed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitWarningBalloonTipIsDisplayedForThisManyMilliseconds"
                serializeAs="String">
                <value>2000</value>
            </setting>
        </K8047CsDemoApp.Properties.Settings>
    </userSettings>
</configuration>